.alert{
 padding-left: .4rem;
}
.alert-danger{
 color: rgb(97, 24, 11);
 line-height: 2rem;
 background-color: rgb(236, 44, 44);
}
.alert-success{
 color: rgb(14, 99, 18);
 line-height: 2rem;
 background-color: rgb(66, 236, 44);
}
