html,
body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 2em;
  height: 100%;
}

.head{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.head .container{
  z-index: 99;
}

.head .container h1{
  color: orange;
  font-size: 4rem;
  margin: 0;
}

.btn{
  text-decoration: none;
  color: #fff;
  padding: .5rem .9rem;
  opacity: 1;
}

.btn-border-y{
  border: 1px solid orange;
}

.btn:hover{
  background-color: #fff;
  color: #333;
}
.btn-border-y:hover{
  background-color: orange;
  color: #fff;
}
.image{
  width: 100%;
  height: 100vh;

  background-image: url('../images/bank-banking-business-462368.jpg');
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  position: absolute;
  opacity: .4;
  z-index: 1;
}

@media (min-width: 700px){
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto, 20em)) 1fr;
  }
  .container{
    grid-column: 2/4;
  }
}